.TimePicker, .TimePickerTextField, .TimePickerLabel, .TimePickerPopup, .TimePickerSeparator, .TimePickerPopupButton, .TimePickerPopupLabel, .TimePickerPopupRadioButton {
	color:#0d87cd;
	font-family:Arial;
	font-size:9pt;
	horizontal-align:center;
	vertical-align:bottom;
}
.TimePicker {
	horizontal-align:left;
	vertical-align:bottom;
}
.TimePickerLabel {
}
.TimePickerTextField {
	background: #ffffff url('resize-handle.gif') no-repeat right;
}
.TimePickerPopup {
	background-color: lightgray;
}
.TimePickerPopupButton {
}
.TimePickerPopupLabel {
}
.timeButton-focus {
	font-weight:bold;
}